<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<main>
			<h2>Different pages on this server are as follows:</h2>
			<ul>
				<li>/page-1</li>
				<li>/api</li>
				<li></li>
			</ul>
		</main>
	</body>
</html>
